<div  class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
    <div class="row">
        <label  class="col-sm-2 col-form-label">
            Please Select Dealer!
        </label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Service name</label>
        </div>
        <div class="row">
                <div class="col-sm-5">
                        <select id="dealer" name="dealer" class="form-control">
                                <option value="">Dealer 1</option>
                                <option value="">Dealer 2</option>
                                <option value="">Dealer 3</option>
                            </select>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" >
                </div>
                </div>

                <div class="row">
                        <label class="col-sm-2 col-form-label"> Price</label>
                        <div class="col-sm-5"></div>
                        <label class="col-sm-2 col-form-label">Fix Price</label>
                        </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Discount</label>
                    <div class="col-sm-5"></div>
                    <label class="col-sm-2 col-form-label">Description</label>
                </div>
                    <div class="row">
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                </div>